---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <section class="content">
        <h2>Hello!, This is Tumul.</h2>
        <p>
            I am a Staff Software Engineer with over a decade of experience building and scaling complex systems. I thrive on the challenge of turning big ideas into robust, distributed systems that can handle real-world demands. This blog is where I share my journey, from tackling tough technical problems to exploring the latest in software architecture. When I'm not coding, I'm a proud father and a keen table tennis player. I believe in continuous learning, both in and out of the office, and I'm excited to share what I've learned with you.
        </p>
    </section>
</Layout>

<style>
    .hero {
        text-align: center;
        padding: 3rem 1rem;
        background-color: #f9f9f9;
        border-radius: 8px;
        margin-bottom: 2rem;
    }

    .hero h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .content {
        background-color: white;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.05);
        font-size: 1.2rem;
        line-height: 1.6;
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
    }

    h2 {
        margin-top: 0;
        font-size: 2rem;
    }
</style>
